.continentsTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    font-size: 20px;
    font-weight: 900;
}

.pins{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px;
}

.continentName {
    text-align: center;
    font-weight: 600;
}

.pin:hover {
    transform: scale(1.2);
}

