.contact{
    width: 100%;
    height: fit-content;
    position: relative;
}

.contact .content {
    padding: 6rem 0;
}

.contact .form-container{
    left: 50%;
    display: flex;
    justify-content: center;
    
}

