@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows:
    [topBar] 80px
    [fotoBar] 585px
    [continents] auto
    [title] 30px
    [blog] auto
    [preset] auto
    [subBar] 320px
    [footer] 70px;
    font-family: Cinzel;
}

.mainMenu{
    grid-row: topBar;
    background-color: rgb(58,57,57);
    width: 100vw;
    height: 80px;
    position: fixed;
    z-index: 5;

}

.logo{
    grid-row: topBar;
    position: absolute;
}

.topBar{
    grid-row: topBar;
    background-color: rgb(58,57,57);
    display: flex;
    justify-content: flex-end;
    color: rgb(252, 246, 238);
    overflow-wrap: wrap;
   padding-right: 100px;
}

.continents{
    grid-row: continents;
}


.title{
    grid-row: title;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 30px;
}

.blog {
    grid-row: blog;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 30px;
    flex-wrap: wrap;
}


.presets{
    grid-row: preset;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.newsBarEnd{
    grid-row: subBar;
    background-color:#82bcdd;
    color: rgb(252, 246, 238);
    /* background-image: url("/public/img/subBackground.avif"); */
    height: 250px;
    width: 60vw;
    background-size: cover;
    display: flex;
    justify-self: center;
    border-radius: 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
}

.newsletterPickUpBar{
    display: flex;
    position: fixed;
    justify-content: flex-end;
    z-index: 10;
    background-color: #82bcdd;
}

.footer{
    grid-row: footer;
    background-color: rgb(58,57,57);
    
}
