@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
.galleryBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60vw;
    height: 500px;
    align-items: center;
    font-size: 20px;
    font-weight: 800;
}

.description, .gallery{
    width: 50vw;
    text-align: center;
    justify-content: center;
}

.headline{
    padding-bottom: 40px;
}

.buttonClick{
    width: 150px;
    height: 35px;
    border: 3px solid rgb(58,57,57);
    background-color: rgb(58,57,57);
    border-radius: 10px;
    font-family: Cinzen;
    font-size: 17px;
    color: #f4ecd9;
    
}

.buttonClick:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.7);
    background-color: #f4ecd9;
    color: rgb(58, 57, 57);
}
.gallery>img{
    border-radius: 10px;
    box-shadow: 0 0 20x 2px rgba(0, 0, 0, 0.7);
}