@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.joinText{
    font-weight: 600;
    color: rgb(58,57,57);
    
}
.newsBarEnd{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.input{
    height: 35px;
    border-radius: 10px;
    background-color: #f4ecd9;
    text-align: center;
    border: none;
    padding: 5px;
}

.submitButton{
    width: 100px;
    height: 35px;
    border: 3px solid rgb(58,57,57);
    background-color: rgb(58,57,57);
    border-radius: 10px;
    font-family: Cinzen;
    font-size: 17px;
    color: #f4ecd9;  
}

.submitButton:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.7);
    background-color: #f4ecd9;
    color: rgb(58, 57, 57); 
}
.button {
    text-align: center;
}



.openPopupBtn{
    transform: rotate(-90deg);
    font-weight: 600;
    font-size: 15px;
    border-radius: 10px;
    background-color: #82bcdd;
    padding: 10px;
    border: none;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    font-family: Cinzel;
}

.openPopupBtn:hover{
    transform: scale(1.2) rotate(-90deg);
}



.popup {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.popup-inner{
    position: relative;
    padding: 32px;
    /* width: 100%; */
    width: 640px;
    background-color: #82bcdd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.popupForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 120px;
    padding: 5px;
}