.joinText{
    font-weight: 600;
    color: rgb(58,57,57);
}
.newsBarEnd{
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input{
    height: 35px;
    border-radius: 10px;
    background-color: #f4ecd9;
    text-align: center;
    border: none;
}

.submitButton{
    width: 100px;
    height: 35px;
    border: 3px solid rgb(58,57,57);
    background-color: rgb(58,57,57);
    border-radius: 10px;
    font-family: Cinzen;
    font-size: 17px;
    color: #f4ecd9;  
}

.submitButton:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.7);
    background-color: #f4ecd9;
    color: rgb(58, 57, 57); 
}
.button {
    text-align: center;
}

.newsletterPickUp{
    width: 50px;
    height: 300px;
    background-color: #82bcdd; 
    
}

.popUpNewsletterBar{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    
}


.popUpJoinText {
    color: #f4ecd9;
}

.close{
    color: #f4ecd9;
    background-color: transparent;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 36vh;
    right: 45vw;
    border-radius: 10px;
    cursor: pointer;
}


.newsletterPickUpText {
    transform: rotate(90deg);
}